h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    padding-bottom: 6px;
 }
 p {
     color: red;
 }
 p:first-of-type {
     color: blue;
     text-decoration: line-through;
 }
 a:link, a:visited {
     color: deepskyblue;
     text-decoration: none;
 }
 a:hover, a:active {
     color: hotpink;
     text-decoration: dashed underline;
 }

 ul {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    padding: 16px;
}

li:nth-child(3n-1) {
    background: skyblue;
    color: white;
    font-weight: bold;
}