#Floatcontainer {
    overflow: hidden;
}
#Floatcontainer div {
    float: left;
    width: 25%;
}
#Flexcontainer {
    display: flex;
    flex-wrap: wrap;
}
#Flexcontainer div {
    flex-basis: 25%;
}