section {
    display: grid;
    grid-template-columns: auto auto auto;

}

.divOne {
    float: left;
    width: 200px; 
    height: 200px;
    padding: 50px;
    border-color: red;
    border-widht: 1px;
    border-style: solid;

}
.divTwo {
    float: left;
    width: 60%;
    height: 20%;
    padding-top: 50px;
    margin-left: 10px;
    border-color: green;
    border-widht: 5px;
    border-style: solid;

}
.divThree {
    float: left;
    width: 300px;
    padding: 30px;
    margin: 50px;
    border-top: 50px;
    border-style: solid;
    border-color: blue;
    
}
