body {
    background-color: aqua;

}
div {
    background-color: #659494;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 100px;
}
#FloatContainer {
    overflow: hidden;
    background-color: antiquewhite;
}
#FloatContainer div {
    float: left;
}

#FlexContainer div {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin-top: 20px;

}
#gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 100px;
}
    


